{
  "VideoProcessorFunction": {
    "AWS_ACCESS_KEY_ID": "your-access-key-here",
    "AWS_SECRET_ACCESS_KEY": "your-secret-key-here",
    "APP_AWS_REGION": "us-east-2",
    "S3_BUCKET_NAME": "auto-vid-s3-bucket-your-stack-your-account-id"
  }
}